# Hostinger API
HOSTINGER_API_TOKEN=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://gwkgkkgnpcpqkarvhldt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3a2dra2ducGNwcWthcnZobGR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMDU2MDEsImV4cCI6MjA4Nzg4MTYwMX0.PNkfeIkGJ-DHbgpmfrCc7h3fCP4nFZQY18gHSPh93rs
SUPABASE_SERVICE_ROLE_KEY=
